<header>
  <div class="header-logo">
    TweetApp
  </div>
  <ul class="header-menus">
    <li>TweetAppとは</li>
  </ul>
</header>

<div class="main top-main">
  <div class="top-message">
    <h2>つぶやきで、世界はつながる</h2>
    <p>今の気持ちをつぶやいてみよう！</p>
  </div>
</div>

<div class="about-main">
  <h2>おさかなとは</h2>
  <p>
    SNSサービスです。
    近況やつぶやきを投稿し、他のユーザーと楽しくコミュニケーションできます。
  </p>
</div>

<img class="about-img" src="/sub.jpg">
